



.heading{
  background-image: url("../images/recordstore.jpg");
}

.soundwave {
    height: 390px;
    background-image: url("../images/wave.png");
    background-size: cover;
    background-position: center top;
}

.guitar {
  height: 560px;
  background-size: cover;
  background-position: top;
  background-image: url("../images/guitar.png");
}

.vid {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

    /*padding: 2rem 2rem 0rem 2rem;*/

    height: 100%;

  	position: relative;
  	padding-bottom: 56.25%; /* 16:9 */
  	padding-top: 25px;
  	height: 0;
}

.vid   iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*
iframe {
  height: 20rem;
  width: 40rem;
}*/

#video {
  margin: 4rem 0 4rem -2rem;
}

#motion{
  /*margin: auto;*/
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;

}







#blue {
color: #014961;  /* Pull Quote Color*/
}

#links {
  font-size: 100%;
  font-style: normal;
  display: inline;
  width: 0;
  margin: auto;
  color: #55BCAB;
  font-family: "Lato", sans-serif;
}

#links a:link {
    text-decoration: none;
}

#links:hover, a:focus {
  text-decoration: underline;
}
#links a:visited {

  color: #014961;
}

#links2 {
  font-size: 100%;
  font-style: normal;
  display: inline;
  width: 0;
  margin: auto;
  color: #386979;
  font-family: "Lato", sans-serif;
}

#links2 a:link {
    text-decoration: none;
}



#record {
  margin-top: 3rem;
  margin-bottom: -1rem;
  margin-left: 5rem;
  width: 70%;
}

#pig {
  width: 50%;
  margin-left: 8rem;
  margin-top: -1.5rem;

}

@media only screen and (max-width : 480px) {



  #record {
    margin-bottom: -1rem;
    margin-left: 3rem;

  }

  #pig {
    width: 50%;
    margin-left: 5rem;
    margin-top: -1rem;
  }
}

@media only screen and (max-width : 680px) {

  #dollars {
    width: 90%;
    padding-left: 1rem;
    padding-right: 2rem;
  }
