

.heading{

  background-image: url("../images/recordstore.jpg");
  background-attachment: fixed;
  /*background-repeat: no-repeat;*/
  box-sizing: border-box;
  background-size: cover;
  height: 525px;
  background-color: #014961;
  /*background-size: 100%;*/
  background-position: center center;



}



.heading h1 {

  padding-top: 9rem;
  margin: 0;

  /*position: fixed;*/


  color: #EEEDCE;
  font-size: 6rem;
  font-family: 'futura-pt', sans-serif;
  font-style: normal;

  font-weight: 700;
  line-height: 80%;
  letter-spacing: 0.2rem;
  padding-left: 0.5rem;

  margin: 0 auto;
  max-width: 40rem;


}




.soundwave {
    height: 390px;
    background-image: url("../images/wave.png");
    background-size: cover;
    background-position: center top;
}

.guitar {
  height: 560px;
  background-size: cover;
  background-position: top;
  background-image: url("../images/guitar.png");
}


.vid {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

    /*padding: 2rem 2rem 0rem 2rem;*/



  	position: relative;
  	padding-bottom: 56.25%; /* 16:9 */
  	padding-top: 25px;
  	height: 60%;

}

.vid   iframe {
	position: absolute;

	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
  height: 90%;
}

/*
iframe {
  height: 20rem;
  width: 40rem;
}*/

#video {
  margin: 4rem 0 4rem -2rem;
  max-width: 100rem;
}

#motion{
  /*margin: auto;*/
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;

}







#blue {
color: #014961;  /* Pull Quote Color*/
}

#links {
  font-size: 100%;
  font-style: normal;
  display: inline;
  width: 0;
  margin: auto;
  color: #55BCAB;
  font-family: "Lato", sans-serif;
}

#links a:link {
    text-decoration: none;
}

#links:hover, a:focus {
  text-decoration: underline;
}
#links a:visited {

  color: #014961;
}

#links2 {
  font-size: 100%;
  font-style: normal;
  display: inline;
  width: 0;
  margin: auto;
  color: #386979;
  font-family: "Lato", sans-serif;
}

#links2 a:link {
    text-decoration: none;
}



#record {
  margin-top: 3rem;
  margin-bottom: -1rem;
  margin-left: 5rem;
  width: 70%;
}

#pig {
  width: 50%;
  margin-left: 8rem;
  margin-top: -1.5rem;

}

@media only screen and (max-width : 480px) {



  #record {
    margin-bottom: -1rem;
    margin-left: 3rem;

  }

  #pig {
    width: 50%;
    margin-left: 5rem;
    margin-top: -1rem;
  }

  .heading h1 {
    font-size: 4rem;
    text-decoration: none;

  }
}


@media only screen and (max-width : 680px) {

  #dollars {
    width: 90%;
    padding-left: 1rem;
    /*padding-right: 2rem;*/
  }
