.container {
  maxwidth: 40rem;
}

.guitar {
  height: 560px;
  background-size: cover;
  background-position: top;
  background-image: url("../images/guitar.png");
}

a {
    text-align: center;

    font-style: normal;
    display: block;
    width: 40rem;
    margin: auto;
    color: #014961;
    text-decoration: none;
