/* Colours */
/* Off White #EEEDCE; */
/*Navy #014961*/
/*Red #E72746;*/
/*Green #55BCAB*/
body {
  font-size: 14pt;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  line-height: 160%;

}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /*text-align: center;*/

}

ul li {
    display: inline-block;
    float: left;
    display: block;


    /*height: 35px;*/
    margin-right: 1rem;
    /*margin-top: 0.5rem;*/
    padding-top: 0.1rem;
    box-sizing: border-box;
    font-weight: 500;

}
ul li a {
  text-decoration: none;
  padding: .2em 1em;
  line-height: normal;
}

a:visited {
  color: #E72746
}




a:visited{
  color: #EEEDCE; /* off white */
}



img{
  width: 100%;

  /*for desktop*/
  /*width: 120%;
  margin-left: -5rem;*/
}

#icon {
  width: 30px;
  padding-top: 3px;
  padding-left: 10px;
  float: left;
}

.menu {
  height: 35px;
  background-color: #014961;
  position: fixed;
  top: 0;
  width: 100%;
  height: 35px;
  text-align: center;
  margin: auto;
  z-index: 100;



  /* Adds shadow to the bottom of the bar */
  -webkit-box-shadow: 0px 0px 8px 0px #000000;
  -moz-box-shadow: 0px 0px 8px 0px #000000;
  box-shadow: 0px 0px 8px 0px #000000;
  text-align: center;

}

.menu a {
font-family: 'futura-pt', sans-serif;
font-weight: 700;
font-size: 12px;
padding-left: 15px;
padding-right: 15px;
color:  #EEEDCE;
text-decoration: none;

}

#menu-icon {
  visibility: hidden;
  display: hidden;
	width: 15px;
	height: 35px;
	background-image: url(../images/menu.png);
  background-position: center;
  /*margin-right: 5px;*/
  background-size: 40%;
  background-repeat: no-repeat;
  float: right;


}

a:hover#menu-icon {

	background-color: #023e52;
	border-radius: 4px 4px 0 0;
  text-decoration: none;

}


.heading {
  /*background-color: #3AA587;*/
  box-sizing: border-box;
  height: 525px;
  background-color: #014961;
  background-size: cover;
  background-position: center center;
  /*background-color: #014961;*/
  /*line-height: 20%;*/
}

.heading h1 {

  padding-top: 9rem;
  margin: 0;


  color: #EEEDCE;
  font-size: 6rem;
  font-family: 'futura-pt', sans-serif;
  font-style: normal;

  font-weight: 700;
  line-height: 80%;
  letter-spacing: 0.2rem;
  padding-left: 0.5rem;
}

.pattern {
  height: 155px;
  background-image: url("../images/pattern.jpg");
  background-size: cover;
  background-position: center;
}

.container {
  margin: 0 auto;
  max-width: 40rem;

}

nav {
  margin: auto;
  max-width: 50rem;
  padding-left: 5rem;




}

.mb {
  height: 50px;
}


h2 {
  font-family: 'futura-pt', sans-serif;
  color: #E72746;
  padding-left: 1.5rem;
  padding-right: 3rem;
  padding-top: 3rem;
  /*padding-bottom: 1rem;*/
  margin-top: 0;
  font-size: 2rem;
  font-si
}

p {

  padding-left: 1.5rem;
  padding-right: 3rem;

}

.lead::first-letter{
  color: #014961 ;
  font-size: 340%;
  float: left;
  padding-top: 0.9rem;
  padding-right: 0.3rem;
  font-family: 'futura-pt', sans-serif;
  font-weight: 700;
  font-style: normal;

}

#intro {
  font-family: 'Lato', sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.4em;
  padding-left: 1.5rem;
  padding-right: 3rem;
  color: #014961;

}

blockquote {
  font-family: 'Lato', sans-serif;
  font-style: italic;
  font-size: 140%;
  line-height: normal;
  border-left: 0.2rem solid;
  border-color: #E72746;
  padding-left:  1rem;
  color: #EEEDCE;
}

.blueblock {
  background-color: #014961;
  /*height: 100px;*/
  padding: 10px 0;
}

.aqua {
  margin: 0 auto;
  /*color: #EEEDCE;*/
  color: white;
  background-color:#55BCAB;
  background-size: cover;
  padding-bottom: 50px;
}

#streaming {
  color: #014961;

}

html {
  font-feature-settings: "liga" 1, "onum" 1, "kern" 1, "dlig" 1;
}

@media only screen and (max-width : 840px) {

  .menu {
    position: absolute;
  }

    #menu-icon {
      display: inline-block;
      visibility: visible;
    }

  nav ul, nav:active ul {
    display: none;
		position: absolute;

		background: #014961;
		border: 5px solid ##014961;
		right: 20px;
		top: 35px;
		width: 50%;
		border-radius: 4px 0 4px 4px;
    }

  nav li {
    text-align: center;
		width: 100%;
		padding: 10px 0;
		margin: 0;
    }

    nav:hover ul {
      display: block;
    }

    nav li:hover {
      background-color:#023e52;
    }

    .heading h1 {
      font-size: 4rem;
      text-decoration: none;

    }

}
